.question-page .container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.question-page .container > button {
  color: #78736f;
  border: none;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  display: inline-flex;
  gap: 5px;
  background-color: transparent;
}
.progress-bar {
  width: 100px;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 20px;
}

.progress-bar__fill {
  height: 100%;
  background: #513c2d;
  transition: width 0.3s ease;
}
